/.idea/.idea.SyslogServer/.idea/.gitignore
/.idea/.idea.SyslogServer/.idea/encodings.xml
/.idea/.idea.SyslogServer/.idea/indexLayout.xml
/.idea/.idea.SyslogServer/.idea/vcs.xml
/SyslogServer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SyslogServer/obj/Debug/net8.0/SyslogServer.AssemblyInfo.cs
/SyslogServer/obj/Debug/net8.0/SyslogServer.AssemblyInfoInputs.cache
/SyslogServer/obj/Debug/net8.0/SyslogServer.assets.cache
/SyslogServer/obj/Debug/net8.0/SyslogServer.csproj.AssemblyReference.cache
/SyslogServer/obj/Debug/net8.0/SyslogServer.GeneratedMSBuildEditorConfig.editorconfig
/SyslogServer/obj/Debug/net8.0/SyslogServer.GlobalUsings.g.cs
/SyslogServer/obj/project.assets.json
/SyslogServer/obj/project.nuget.cache
/SyslogServer/obj/project.packagespec.json
/SyslogServer/obj/rider.project.model.nuget.info
/SyslogServer/obj/rider.project.restore.info
/SyslogServer/obj/SyslogServer.csproj.nuget.dgspec.json
/SyslogServer/obj/SyslogServer.csproj.nuget.g.props
/SyslogServer/obj/SyslogServer.csproj.nuget.g.targets
